body {
  background-color: #bbddee;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  margin: 20px 140px  20px 140px;
  text-align: center;
}

#content { 
  width: 95%;
  padding: 15px 0px 15px 0px;
  text-align: left;
  background-color: #fff;   
  overflow: auto;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#top { 
  width: 95%;
  padding: 15px 0px 15px 0px;
}

h3 {
  font-size: 18px;
}


#menu{
  background-color:#445599; 
  padding: 15px;
  color: #fff
}


#menu a:link {color: #fff;}
#menu a:visited {color: #fff;}
#menu a:active {color: #fff;}
#menu a:hover {color: #7CFC00;}
#menu a {text-decoration: none; font-size: 14px; font-weight:bold;}
#menu a.menu {margin: 15px;}

#user-info{
  float:right;
}

#username{
  padding-right: 10px;
  border-right: 2px solid white;
}


#login {
  border-right: 2px solid white;
  padding-right: 1em;
}

#logout {
  padding-left: 1em;
  padding-right: 1em;
}

#register {
  padding-left: 1em;
}

#logo {
  float:left;
  padding:15px 0px 15px 0px;
}

#content{
  margin:15px
}

#welcome{
  width: 90%;
  float: left;
}

#footer{
  background-color:#445599;
  padding: 15px;
  color: #fff;
  text-align: center;
}

#footer img {
 float: left;
}

#problem-table{
  float: left;
  width: 90%
} 

#user-table{
  float: left;
  width: 90%
  padding: 15px;
} 

span.error, div.error {
  color: red;
}

div.congrats {
  color: red;
  margin-bottom: 8px;
  font-size: 16px;
}

span#prob-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

div#prob-desc {
  overflow: hidden;
}

div#testcases {
  float: left;
  margin: 10px;
}

li.testcase {
  font-size: 15px;
  padding: 3px;
  list-style-type: none;
  background-color: #eee;
  font-family: Courier;
}

div#restrictions {
  list-style-type: none;
  border-style: dashed;
  border-color: DarkRed;
  border-width: normal;
  margin-right: 45px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px;
  color: red;
  float: right;
  font-size: 16px;
}



textarea#code-box {
  width: 500px;
  height: 250px;
}

table.my-table {
  padding: 2px;
  border-collapse: collapse;
}

table.my-table td.centered {
  text-align: center;
}

td.title-link {
  font-size: 16px;
}

table.my-table th {
  padding: 10px 0px 0px 0px;

 }

