body {
  background-color: #bbddee;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  margin: 20px 140px  20px 140px;
  text-align: center;
}

#content { 
  width: 100%;
  padding: 15px 0px 15px 0px;
  text-align: left;
  background-color: #fff;   
  overflow: auto;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
p, h1, pre {
margin: 0px; 
padding: 10px; 
}
h1 {
font-size: 11px;
text-transform:uppercase;
text-align: right;
color: #564b47;
background-color: #90897a;
}

#menu{
background-color:#445599;
padding: 15px;
}


a:link {color: #fff;}
a:visited {color: #fff;}
a:active {color: #fff;}
a:hover {color: #223322;}
a {text-decoration: none; font-size: 20px; font-weight:bold; margin: 15px}



#logo {
float:left;
padding:15px 0px 15px 0px;
}


